[submodule "src/Alloy"]
	path = src/Alloy
	url = https://github.com/ReturnInfinity/Alloy
[submodule "src/ironlib"]
	path = src/ironlib
	url = https://github.com/ReturnInfinity/ironlib
[submodule "src/kernel"]
	path = src/kernel
	url = https://github.com/ReturnInfinity/BareMetal-kernel
[submodule "src/Coreutils"]
	path = src/Coreutils
	url = https://github.com/ReturnInfinity/Coreutils
[submodule "src/Pure64"]
	path = src/Pure64
	url = https://github.com/ReturnInfinity/Pure64
[submodule "src/BMFS"]
	path = src/BMFS
	url = https://github.com/ReturnInfinity/BMFS
